@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif !important;
  overflow-x: hidden;
}

body * {
  word-break: keep-all !important;
}

*:focus {
  outline: none !important
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}

html.prevent-scroll, body.prevent-scroll {
  overflow: hidden;
}

button:focus {
  outline: 0;
  box-shadow: none;
}

ul {
  list-style: none;
}

.main-logo {
  max-width: 190px !important;
  max-height: 25px;
}

/* 메인페이지 메인배너 */
.main-banner-wrap {
  background-image: url(../img/main_banner_shadow.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  max-height: 800px;
}

/* 탑 띠배너 */
.event-banner {
  background-color: #000000;
  color: #fff;
  font-size: 15px;
  z-index: 999;
  height: 60px;
  font-weight: 400;
  padding: 0px 5px 0px 10px;
}

/* nav */
.navbar-wrap {
  background: transparent;
}

.navbar {
  padding: 20px 50px !important;
}

.navbar .nav-item .nav-link {
  font-size: 17px;
  color: #fff;
}

.navbar .nav-item .nav-link:hover {
  color: #23DBC2;
}

.nav-active {
  color: #23DBC2 !important;
}

.nav-item .nav-bar-btn {
  width: 108px;
  height: 42px;
  background: #23DBC2;
  border-style: none;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px #00000029;
  font-size: 17px;
  margin-left: 15px;
}

.main-nav-btn {
  width: 108px;
  height: 42px;
  background: #23DBC2;
  border-radius: 4px;
  border-style: none;
  box-shadow: 0px 3px 6px #00000029;
  color: #fff;
  font-size: 17px;
  margin-left: 20px;
}

/* 메인 베너 */
.main-banner-subtext {
  font-size: 25px;
  font-weight: 400;
}

.main-banner-text {
  font-size: 50px;
  font-weight: 500;
}

.main-banner-btn {
  width: 144px;
  height: 50px;
  border-radius: 2px;
  background: #23DBC2;
  color: #fff;
  border-style: none;
  text-align: center;
  font-size: 17px;
  margin-top: 30px;
}

.main-process-sec {
  padding-top: 130px;
}

.main-process-sec p {
  text-align: center;
  font-size: 20px;
  color: #bdbdbd;
}

.main-process-sec h3 {
  text-align: center;
  font-size: 28px;
  color: #000;
  margin-bottom: 50px;
}

.main-process-sec .process-text {
  text-align: center;
}

.main-process-sec .process-text .number {
  font-size: 14px;
  color: #fff;
  width: 24px;
  height: 24px;
  background: #000;
  border-radius: 50%;
  margin: 0 auto;
  padding: 2px 0px;
  display: inline-block;
  position: relative;
  top: -3px;
  font-family: 'Poppins', sans-serif;
}

.main-process-sec .process-text .process-subject {
  text-align: center;
  margin-top: 20px;
}

.main-process-sec .process-text span {
  display: inline-block;
  font-size: 20px;
  margin-left: 5px;
}

.main-process-sec .process-text p {
  font-size: 17px;
  color: #333;
  margin-top: 5px;
  margin-bottom: 170px;
}

.main-process-sec .process-text img {
  max-width: 210px;
  width: 100%;
}

.main-img-sec .main-img img {
  box-shadow: -15px 15px #EEEEEE;
  max-width: 665px;
  width: 100%;
}

.main-img-sec .price-img img {
  box-shadow: 15px 15px #EEEEEE;
  max-width: 665px;
  width: 100%;
}

.main-img-sec .main-img {
  padding-bottom: 30px;
}

.main-img-sec .main-text {
  /* padding-left: 50px; */
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-img-sec .main-text span {
  font-weight: bold;
}

.main-img-sec .main-text .main-text-con {
  z-index: 99;
}

.main-img-sec .main-text img {
  width: 106px;
  height: 95px;
  position: absolute;
  top: 80px;
  right: 60px;
  z-index: 9;
}

.mb-220 {
  margin-bottom: 224px;
}

.main-btn-sec {
  padding-top: 140px;
  margin-bottom: 100px;
}

.main-btn-sec .main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 28px;
  padding-bottom: 50px;
}

.main-btn-sec .main-text-con p {
  font-size: 20px;
  font-weight: 00;
  margin-top: 15px;
}

.main-btn-sec .main-text button {
  width: 160px;
  height: 50px;
  background: #23DBC2;
  color: #fff;
  border-style: none;
  margin-top: 20px;
  font-size: 17px;
}

.main-btn-sec img {
  width: 100%;
  max-width: 487px;
}

/* footer */
.footer {
  background-color: #000;
  color: #AEAEAE;
  font-weight: 400;
  font-size: 15px;
  word-break: keep-all;
}

.footer-t {
  padding-top: 40px;
}

.footer a:hover {
  text-decoration-line: none;
}

.footer .footer-logo {
  width: 190px;
  margin-bottom: 25px;
}

.footer .footer-con-2 span {
  font-size: 15px;
  font-weight: 400;
  color: #E1E1E1;
}

.footer .footer-con-3 span {
  font-size: 15px;
  font-weight: 500;
  color: #E1E1E1;
}

.footer .footer-con-3 {
  margin-bottom: 123px;
  margin-top: 7px;
}

.footer-con-2 strong {
  margin-left: 10px;
}

.footer-con-3 strong {
  margin-left: 10px;
}

.footer .footer-con-3 li:nth-child(2) {
  margin-right: 0;
}

.footer .footer-right h6 {
  font-size: 1.25rem;
}

.footer .footer-right p {
  font-size: 0.8125rem;
}

.footer-m .footer-line {
  border-top: 1px solid #40454E;
  width: 100% !important;
}

.footer ul li {
  float: left;
}

.footer ul {
  padding-left: 0 !important;
}

.footer .footer-bottom {
  bottom: 0;
  margin: 0 auto !important;
  padding: 27px 15px !important;
}

.footer-p {
  float: left;
  margin-right: 35px;
}

.footer-a {
  color: #999999;
}

.footer-a:hover {
  color: #999999;
}

.footer .footer-bottom-text {
  display: inline-block;
  padding: 0 !important;
  margin-top: 10px;
}

.footer .footer-bottom ul li {
  margin-right: 30px;
}

.footer .col-md-6 {
  font-size: 0.8125rem;
}

.main-kakao-map {
  padding: 0px !important;
}

/* 서비스 페이지 */
.service-wrap1 {
  padding-bottom: 180px;
  padding-top: 150px;
}

.service-wrap1 .service-wrap1-text {
  font-size: 50px;
  color: #000;
  padding-top: 100px;
  font-weight: 500;
}

.service-wrap1 img {
  width: 100%;
  max-width: 665px;
}

.service-maintxt {
  font-size: 18px;
  margin-top: 15px;
  line-height: 32px;
  font-weight: 400;
}

.mint-txt {
  color: #18DCB4;
  font-weight: 500 !important;
}

.service-wrap2 {
  text-align: center;
  padding-bottom: 200px;
}

.service-wrap2 .process-eng {
  font-size: 20px;
  color: #BDBDBD;
  margin-bottom: 5px;
}

.service-wrap2 .process-kor {
  font-size: 28px;
  margin-bottom: 0;
  font-weight: 500;
}

.step-line {
  width: 70%;
  height: 0px;
  border: 1px dashed #E1E1E1;
  margin: 0 auto;
  position: relative;
  top: 118px;
}

.step-circle {
  width: 110px;
  height: 110px;
  border: 1.5px solid #E1E1E1;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  padding: 32px 0px;
  margin: 60px auto 20px;
}

.mint-span {
  font-family: 'Poppins', sans-serif;
  color: #23DBC2;
  font-size: 20px;
  font-weight: 600;
}

.step-txt {
  margin-top: 7px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.service-wrap3 {
  margin-bottom: 224px;
}

.service3-img {
  background: url('../img/sugarmanwork@2x.jpg');
  width: 665px;
  height: 430px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 665px;
  max-height: 430px;
  position: relative;
  bottom: 20px;
  left: 20px;
}

.img-shadow {
  width: 665px;
  height: 430px;
  background-color: #EEEEEE;
}

.service-wrap3 h3 {
  margin-top: 120px;
  font-size: 32px;
  line-height: 50px;
  position: relative;
  z-index: 1;
}

.service-wrap3 span {
  font-weight: 600;
}

.service-wrap3 img {
  max-width: 106px;
  max-height: 95px;
  position: absolute;
  right: 0;
  top: 16%;
  z-index: 0;
}

/* 이용료 페이지 */
.price-wrap1 {
  padding-bottom: 130px;
  padding-top: 200px;
}

.price-text-con {
  font-size: 50px;
  line-height: 65px;
  z-index: 99;
  margin-bottom: 15px;
  font-weight: 500;
}

.price-text-con span {
  font-weight: 500 !important;
}

.main-text.price-text img {
  width: 106px;
  height: 95px;
  position: absolute;
  top: 0px;
  right: 25%;
  z-index: 9;
}

.main-img.price-img img {
  box-shadow: 10px 10px #00000029;
  max-width: 665px;
  width: 100%;
}

.p-mainbox {
  width: 100%;
  margin: 110px auto;
}

.p-mainbox .ft-50 {
  margin-bottom: 15px;
}

.price-maintxt {
  font-size: 18px;
  font-weight: 400 !important;
  letter-spacing: -0.5px;
}

.img-shadow1 {
  width: 644px;
  height: 450px;
  background-color: #EEEEEE;
}

.price-wrap2 {
  padding-bottom: 145px;
}

.price-wrap2 .review-area p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.price-wrap3 {
  text-align: center;
  padding-bottom: 180px;
}

.price-wrap3 img {
  max-width: 235px;
  max-height: 251px;
  margin: 0px auto 32px;
}

.price-wrap3 span {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.price-wrap3 p {
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 0;
}

.price-wrap4 span {
  font-size: 28px;
}

.price-wrap4 .price4-txt {
  font-size: 18px;
  font-weight: 400 !important;
}

.price-wrap4 .price-table {
  width: 100%;
  margin: 40px 0px 200px;
}

.table-responsive-xl {
  width: 100%;
}

.price-wrap4 .price-table th {
  padding: 20px 50px 20px 0px;
  border-bottom: 4px solid #18DCB4;
  font-weight: 600;
  font-size: 20px;
  border-top: 0;
}

.price-wrap4 .price-table td {
  padding: 30px 100px 30px 0px;
  border-bottom: 1px solid #E1E1E1;
  font-size: 20px;
}

.price-table .strong {
  font-weight: 500;
}

.price-table span {
  font-size: 18px;
  margin-left: 20px;
}

.price-wrap5 {
  padding-bottom: 150px;
}

.price-wrap5-box {
  background: #FAFAFA;
  padding: 78px 100px 78px 65px;
}

.price-wrap5-text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-wrap5-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-wrap5 button {
  width: 160px;
  height: 50px;
  background: #23DBC2;
  border-style: none;
  color: #fff;
  font-size: 17px;
}

.price-wrap5 img {
  width: 135px;
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 시작하기 페이지 */
.full-area {
  width: 100%;
  height: 100vh;
}

.half {
  width: 50%;
  /* height: 100vh; */
}

.left-area {
  float: left;
}

.right-area {
  float: right;
}

.banner3-img {
  background: url('../img/banner-3@2x.jpg');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-box h2 {
  margin-bottom: 35px;
  font-weight: 500;
}

.form-box span {
  color: #18DCB4;
}

.form-box p {
  margin-bottom: 6px;
}

.form-input {
  width: 100%;
  height: 50px;
  border: 1px solid #E5E5E5;
  margin-bottom: 15px;
  padding: 15px;
}

.form-box .form-btn {
  width: 100%;
  height: 60px;
  background-color: #23DBC2;
  border: 1px solid #23DBC2;
  font-size: 15px;
  color: #fff;
  margin-top: 14px;
}

.form-box .form-btn:hover {
  background: #000;
  border: 1px solid #000;
}

input[type="checkbox"] {
  opacity: 0;
  width: 1px;
  height: 1px;
}

.ddd {
  opacity: 0;
  width: 1px;
  height: 1px;
}

input[id="agree"]+label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  cursor: pointer;
}

.service-label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  cursor: pointer;
}

input[id="agree"]:checked+label {
  background: url(../img/check_box.png) no-repeat center/25px 25px;
}

.label--clicked {
  background: url(../img/check_box.png) no-repeat center/25px 25px;
}

.check-item {
  display: inline-block;
  margin: 10px 10px 10px 0px;
}

.service-txt {
  position: unset;
  margin-top: -35px;
  margin-left: 35px;
  font-size: 15px;
}

.agree-txt {
  position: absolute;
  margin-top: -35px;
  margin-left: 35px;
  font-size: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.btn-agree {
  border: none;
  background-color: #fff;
  text-decoration: underline;
}

/* location.html */
.location-banner-wrap {
  background-image: url(../img/main_banner2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}

.location-banner-subtext {
  font-size: 60px;
  color: #fff;
  margin-bottom: 15px;
  font-weight: 400;
}

.location-banner-text {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 1px;
}

.location-text-box {
  padding-top: 200px;
}

.location-con {
  padding-top: 136px;
  padding-bottom: 177px;
}

.location-con-text h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.location-con-text p {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  margin-bottom: 30px;
}

.location-con-btn {
  text-align: right;
}

.location-con-btn button {
  width: 160px;
  height: 50px;
  background: #23DBC2;
  border-style: none;
  color: #fff;
  font-size: 17px;
}

/* nav-scroll */
.fixed-head-white {
  background: #fff;
  color: #000;
  z-index: 999
}

.fixed-head-white .nav-link {
  color: #000 !important;
}

.fixed-head-white .nav-active {
  color: #23DBC2 !important;
}

.top-nav {
  position: fixed;
  top: 60px;
  left: 0px;
  width: 100%;
  transition: all .5s;
  z-index: 999;
}

.top-nav.fixed-head {
  top: 0px;
}

.logo-r {
  display: none;
}

.fixed-head-white .logo-r {
  display: block !important;
}

.fixed-head-white .logo-w {
  display: none !important;
}

/* 모바일메뉴 */
.mobile_show {
  background-color: #18DCB4;
}

.arrow-forward {
  background: none;
  border: none;
  font-size: 1.063rem;
  color: #fff;
  padding: 22px;
  width: 100%;
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  color: #000;
  z-index: 9999;
  top: 0px;
  left: 0px;
  display: none;
  border-style: none;
}

.navbar-light .navbar-toggler {
  border-style: none;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border-style: none;
  background: transparent;
  border-style: none;
}

.close-btn span {
  font-size: 40px;
}

.mobile-menu ul {
  padding-left: 0 !important;
}

.mobile-menu .mobile-menu-list {
  text-align: center;
  height: 70%;
  margin-top: 250px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
}

.mobile-menu .mobile-menu-list a {
  color: #000;
}

.mobile-menu .mobile-menu-list li {
  margin-bottom: 10%;
}

a:visited {
  text-decoration: none;
}

.mobile-menu .mobile-menu-list button {
  width: 70%;
  height: 10%;
  border-radius: 20px;
  border: 3px solid #23DBC2;
  background-color: transparent;
  color: #23DBC2;
  font-weight: 600;
}

.success {
  padding: 100px 0px 0px;
}

.success-btn {
  border: 1px solid #23DBC2;
  background-color: #23DBC2;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  width: 40%;
  height: 50px;
  margin: 15px auto;
}

.check-lottie {
  width: 80px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 190px;
}

.success-btn-box {
  text-align: center;
}

.success-txt2 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin: 15px auto;
}

.check-gif {
  background: url('../img/check-success.gif');
  width: 80px;
  height: 80px !important;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 200px auto 0px;
}

/* 개인정보 취급방침 */
.privacy-wrap {
  padding: 150px 0px;
}

.privacy-title {
  color: #23DBC2;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

.privacy-line {
  width: 100%;
  height: 3px;
  background-color: #23DBC2;
  margin: 0px 0px 20px;
}

.privacy-num {
  font-size: 19px;
  font-weight: 600;
  margin-top: 50px;
}

.privacy-txt {
  font-size: 17px;
  font-weight: 400;
}

.privacy-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.privacy-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #23DBC2;
  color: white;
  width: 25%;
}

.privacy-table td, .privacy-table th {
  border: 1px solid #ddd;
  padding: 25px;
}

.close {
  width: 6%;
  height: 10%;
  position: absolute;
  right: 2%;
  margin-top: 10px;
  font-size: 40px;
  color: #001AB8;
  opacity: 1;
  z-index: 999;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.privacy-num1 {
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
}

.privacy-info1 {
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0px;
}

.modal-dialog {
  max-width: 700px;
}

.modal-content {
  height: auto;
}

.modal-body {
  padding: 50px;
}

/* price tab menu */
#tab-btn ul {
  padding-left: 0;
  margin-bottom: 0;
}

#tab-btn ul li {
  display: inline-block;
}

#tab-btn ul li img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  opacity: 0.5;
  margin-bottom: 25px;
  cursor: pointer;
  border: 2px solid #e1e1e1;
}

#tab-btn .active img {
  border: 2px solid #23DBC2;
  opacity: 1 !important;
  width: 62px;
  height: 62px;
}

#tab-cont>div {
  font-size: 18px;
  font-weight: 400 !important;
}

.menu-icon-size {
  font-size: 35px;
}

.menu-color {
  color: #fff;
}

.menu-icon-black {
  color: #000 !important;
}

/* 파트너 페이지 */
.partner-wrap1 {
  padding: 200px 0px;
}

.partner-wrap1 .partner-text-con {
  font-size: 45px;
  position: relative;
  z-index: 99;
  margin-bottom: 15px;
  font-weight: 500;
}

.partner-maintxt {
  font-size: 18px;
  font-weight: 400 !important;
  letter-spacing: -0.5px;
  margin-bottom: 50px;
}

.price-maintxt {
  font-size: 20px;
  margin-bottom: 50px;
}

.partner-text {
  padding: 65px 15px;
}

.partner-wrap1 .partner-text img {
  width: 106px;
  height: 95px;
  position: absolute;
  top: 37px;
  left: 0;
  z-index: 8;
}

.btn-partner {
  width: 163px;
  height: 50px;
  color: #fff;
  font-size: 17px;
  border: 1px solid #23DBC2;
  background-color: #23DBC2;
}

.partner-wrap1 .partner-img img {
  box-shadow: 15px 15px #EEEEEE;
  max-width: 544px;
  width: 100%;
  max-height: 450px;
}

.partner-wrap2 {
  background-color: #FAFAFA;
  width: 100%;
  padding: 130px 0px;
}

.review-txt {
  text-align: center;
}

.partner-wrap2 .review-txt span {
  color: #23DBC2;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.partner-wrap2 .review-txt h3 {
  font-size: 28px;
  color: #000000;
  font-weight: 500;
}

.review-img .img-back {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.review-img .img-back:hover {
  border: 4px solid #23DBC2;
}

.review-img {
  padding: 40px 0px;
}

.review-img img {
  width: 100%;
  max-height: 265px;
}

.mb-40 {
  margin-bottom: 40px;
}

/* partner modal */
.review-modal {
  border-top: 5px solid #23DBC2;
  width: 700px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  word-break: keep-all;
}

.review-modal-close {
  color: rgba(0, 0, 0, 0.54);
  margin-right: 15px;
}

.review-modal-close span {
  font-size: 40px;
  font-weight: 400;
}

.review-modal-body .modal-title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.review-line {
  border: 1px solid #E1E1E1;
  margin-bottom: 40px;
}

.review-modal-text img {
  width: 41px;
  height: 30px;
  margin-bottom: 20px;
}

.review-modal-text .review-modal-text-con {
  font-size: 20px;
  letter-spacing: -0.63px;
  line-height: 40px;
  font-weight: 400;
}

.review-modal-by {
  font-size: 18px;
  margin-bottom: 60px;
}

.review-con {
  margin-bottom: 15px;
  cursor: pointer;
}

.img-area {
  font-size: 60px;
  margin: 0 auto;
  font-weight: 600;
}

@media(max-width:1199px) {
  .review-con {
    max-width: 33.3333%;
  }
}

@media(max-width:991px) {
  .review-con {
    max-width: 50%;
  }
}

@media(max-width:552px) {
  .review-con {
    max-width: 50%;
  }
}

@media(max-width:290px) {
  .review-img .img-back {
    max-width: 265px;
    width: 100%;
    max-height: 265px;
    background-color: #FFFFFF;
    margin: 0 auto;
  }

  .partner-wrap1 .partner-text-con {
    font-size: 40px;
  }
}